/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

body {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(180, 180, 180);
}

header {
    background-color: #242424;
}

header h1 {
    display: inline-block;
}

header h1 a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px;
}

header ul {
    margin: 10px;
}

header ul li {
    display: inline;
    margin: 20px 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url("../images/black-and-gray-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-sub {
    float: right;
    margin: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}

.hero-sub h2 {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 7px 15px;
}

.projects {
  display: flex;
}

.single-project img {
    height: auto;
    width: 250px;
}

.single-project a {
  text-decoration: none;
  color: #fff;
}

.grayson img {
    height: auto;
    width: 175px;
}

.headshot {
    height: auto;
    width: 150px;
    border: 13px solid white;
}

.contact ul {
    list-style-type: none;
    margin: 10px;
    float: right;
}

.contact li {
    display: inline-flex;
    margin: 15px;
}

.contact ul li a {
    text-decoration: none;
    color: black;

}

@media screen and (max-width: 575px) {
    .hero {
        width: 100%;
    }

    .hero-sub {
        width: 100%;
    }

    .header {
        width: 100%;
    }
}