/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

body {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(180, 180, 180);
}

header {
    background-color: #242424;
}

header h1 {
    display: inline-block;
}

header h1 a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px;
}

header ul {
    margin: 10px;
}

header ul li {
    display: inline;
    margin: 20px 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url("../images/black-and-gray-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-sub {
    float: right;
    margin: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}

.hero-sub h2 {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 7px 15px;
}

.about h2 {

}